<div class="work-area">
    <div class="button-wrapper"><button (click)="fetchValue()">Reload</button><button style="" id="button" class="btn btn-primary">Click Me!</button></div>
    <div class="timer-wrapper">
        <p class="label">loadtime:</p>
        <p>{{ timerData }}</p>
    </div>
    <div class="requests-wrapper">
        <pre style="position: absolute; top: 5rem;"><code id="result"></code></pre>
        <div class="box{{request.type}}" *ngFor="let request of requests">
            <p>{{request.type}} {{request.number}}</p>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>