@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/animations';
@import 'scss/buttons';
.timer-wrapper {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(87, 87, 87);
    p {
        display: inline-block;
        &.value {
            color: white;
        }
    }
}

.requests-wrapper {
    width: 100%;
    display: inline-block;
    //loop on each type of request
    @each $type,
    $bg in $types {
        //append type to class
        .box#{$type} {
            //background is selected based on type
            background: linear-gradient(-45deg, $bg);
            @include box-props();
        }
    }
}